<!DOCTYPE html>
{% extends 'consumption/layout.html' %}

{% block content %}

<div class="subcontainer">
  <div class="subheader">
    <h3>Tables</h3>
  </div>

  <div class="results">
    {% block table %}
    {% for table in tables %}
        {{table|safe}}
    {% endfor %}
    {% endblock %}
  </div>
</div>

<div class="subcontainer" id="graphs">
  <div class="subheader">
    <h3>Graphs</h3>
  </div>

  <div class="results">
      {% block graph %}
    <x-graph width="800" height="600" type="line" x_axis="Month" 
    y_axis="Average Consumption"
    title="Average consumption of all users over time"></x-graph>
    <x-graph width="800" height="600" type="bar" x_axis="Area" 
    y_axis="Average Consumption"
    title="Average consumption of all area codes"></x-graph>
    <x-graph width="800" height="600" type="bar" x_axis="Tariff" 
    y_axis="Average Consumption"
    title="Average consumption of all tariff codes"></x-graph>
      {% endblock %}
  </div>
</div>

{% endblock %}

{% block script %}
{% load staticfiles %}
<script type="application/javascript" src="{% static 'js/bundle.js' %}"></script>
{% endblock %}
